<div class="container is-max-desktop">
  <div class="notification is-primary">
    <div class=" columns is-mobile is-centered">
      <div class="box is-two-thirds">
        <label for="" class="label has-text-weight-light">Title</label>
        <input class="input is-primary mb-4" type="text">
        <label for="" class="label has-text-weight-light">Description</label>
        <textarea class="textarea is-primary"></textarea>
        <div class="mt-3 level-right">
          <a routerLink="/home" class="btnSecondary">Back</a>
          <button mat-raised-button class="ml-2 btn">Save</button>

        </div>
      </div>
    </div>
  </div>
</div>
